/* For Complete WebPage */

* {
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-y: auto;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
}

#container {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Navigation */

#nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2vh 3vw;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(206, 36, 36, 0.521);
    text-shadow: 2px 2px 5px rgba(206, 36, 36, 0.521);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

#logo {
    display: flex;
    align-items: center;
}

#icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logo-text {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px 20px;
}

#nav-links ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
}

#nav-links ul li a {
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 3vw;
    transition: 0.3s;
}

#nav-links ul li a:hover {
    transform: scale(1.1);
    text-shadow: 5px 5px 6px rgba(206, 36, 36, 0.521);

}

@media screen and (min-width: 700px) {
    #menu-icon {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    * {
        overflow-y: unset;
    }
    #nav-links-container {
        position: absolute;
        top: 100%;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: white;
        box-shadow: 5px 5px 10px rgba(206, 36, 36, 0.521);
        text-shadow: 2px 2px 5px rgba(206, 36, 36, 0.521);
        display: none;
        flex-direction: column;
        padding: 10px 0;
        transition: 0.3s;
    }

    #nav-links-container.active {
        display: block;
        justify-content: center;
        padding: 0;
    }

    #nav-links ul {
        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    #nav-links ul li {
        text-align: center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
        margin: 10px 0;
        height: 20vh;
        padding: 9vh;
    }

    #nav-links ul li a {
        color: #000000;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 20px;
        transition: 0.3s;
    }

    #nav-links ul li a:hover {
        transform: scale(1.1);
        text-shadow: 5px 5px 6px rgba(206, 36, 36, 0.521);
    }
}

#newsletterBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#newsletterBtn:hover,
#newsletterBtn:focus {
    background-color: #dfdfdf;
    text-decoration: none;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.521);
    color: rgb(0, 0, 0);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.popup h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.popup input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup button:hover {
    background-color: #0056b3;
    text-decoration: none;
    transform: scale(1);
    color: white;
}

@media screen and (max-width: 700px) {
    #newsletterBtn {
        padding: 5px;
    }

    .popup {
        width: 250px;
    }

    .popup h2 {
        font-size: 1.2rem;
    }

    .popup input {
        padding: 5px;
    }

    .popup button {
        padding: 5px;
    }
}

/* Introduction Page */

.intro-pic {
    background-image: url('./Images/Image1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.intro-text {
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px 20px;
    transform: scale(0);
    animation: appear 1s forwards;
}

@keyframes appear {
    0% {
        transform: rotate3d(1, 1, 1, 180deg) scale(0.2);
    }

    50% {
        transform: rotate3d(1, 1, 1, -180deg) scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

.images-container {
    height: auto;
    margin: 2vh 3vw;
    border-radius: 5%;
    background-color: rgba(230, 227, 227, 0.877);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 3vw;
}

.dis-image img {
    margin: 20px;
    width: 25vw;
    height: 45vh;
    min-width: 300px;
    filter: grayscale(100%);
    transition-duration: 0.5s;
}

.dis-image img:hover , .dis-image img:active {
    border-radius: 10%;
    transform: scale(1.09);
    filter: grayscale(0%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.performance-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



.performance {
    height: auto;
    margin: 2vh 3vw;
    border-radius: 5%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.performance-box img {
    min-width: 340px;
    border-radius: 5%;
    width: 40vw;
    height: 40vh;
}
.performance img:hover{
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.heading{
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 10vh;
}
.specs {
    height: 100vh;
    margin: 4vh 3vw;
    background-color: rgba(230, 227, 227, 0.877);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.specs table {
    width: 100%;
    border-collapse: collapse;
}

.specs th,
.specs td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.specs th {
    background-color: #333;
    color: #fff;
}

.specs tr:nth-child(even) {
    background-color: #f2f2f2;
}


.footer-shell {
    width: 100vw;
    background-color: #333;
}

.footer {
    background-color: #333;
    color: white;
    padding: 2vh 3vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form {
    width: 400px;
    height: 200px;
    margin-bottom: 50px;
    overflow: visible;

}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.social-media {
    display: flex;
    gap: 1rem;
}

.social-media ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social-media img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.social-media a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #007bff;
}

.copyright {
    text-align: center;
    padding: 1vh 3vw;
    background-color: #333;
    color: white;
    width: 100vw;
    height: 5vh;
}

.copyright a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}
@media screen and (max-width: 500px) {
    .footer {
        flex-direction: column;
        padding: 2vh 1vw;
    }

    .contact-form {
        width: 100%;
    }

    .social-media {
        justify-content: center;
    }
}